defaults: &defaults
  some_api_key: '<api key>'

development:
  <<: *defaults
  domain: localhost:3000

test:
  <<: *defaults
  domain: test.host

staging:
  <<: *defaults

production:
  <<: *defaults
  domain: example.com
  some_api_key: '<api key override>'
